.twrp-i {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.1em;
	vertical-align: -0.1em;
	fill: currentColor;

	svg {
		width: 100%;
		height: 100%;
	}
}

/* Icon domain fix. */

.twrp-i--views {
	vertical-align: -0.2em;
}

.twrp-i--comments {
	vertical-align: -0.15em;
}

/* Vertical align fix */

.twrp-i--va-1 {
	vertical-align: -0.1em;
}
