// Mixin class that all tabs should implement.

@mixin twrp-tab-clean-style($block-name) {
	@include twrp-box;

	&__btns-wrapper {
		@include twrp-box;

		display: flex;
		list-style-type: none;

		& + #{$block-name}__contents-wrapper {
			padding-top: 10px;
		}
	}

	&__btn-item {
		@include twrp-box;

		display: inline-block;
	}

	&__btn {
		@include twrp-box;
		@include twrp-anchor;

		font-size: 1rem;
		line-height: 1.5;
		text-decoration: none;
	}

	&__contents-wrapper {
		@include twrp-box;
	}

	&__content {
		@include twrp-box;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 16px;
	}

	// Prevent flash of content, by displaying only the first tab.
	&__content:not([role]) ~ #{$block-name}__content {
		display: none;
	}
}
