.twrp-tab-bs {
	@include twrp-tab-clean-style('.twrp-tab-bs');

	&__btns-wrapper {
		flex-wrap: wrap;
	}

	&__btn-item {
		margin: 0 4px 4px 0;
	}

	&__btn {
		padding: 1px 0.5rem;
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-accent-color);
		border: 1px solid var(--twrp-accent-color);
		border-radius: var(--twrp-border-radius);
		transition: var(--twrp-default-component-transition);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px var(--twrp-outline-accent-color);
		}
	}

	&__btn[aria-selected="false"],
	&__btn-item:not([role]):not(:first-child) .twrp-tab-bs__btn {
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-lighter-accent-color);
		border: 1px solid var(--twrp-lighter-accent-color);

		&:hover,
		&:focus {
			background-color: var(--twrp-accent-color);
		}
	}

	&__contents-wrapper {
		background-color: var(--twrp-background-color);
	}
}

.twrp-tab-bs--inverse-colors .twrp-tab-bs {
	/* stylelint-disable-next-line no-descending-specificity */
	&__btn {
		color: var(--twrp-accent-color);
		background-color: var(--twrp-secondary-background-color);
	}

	&__btn[aria-selected="false"],
	&__btn-item:not([role]):not(:first-child) .twrp-tab-bs__btn {
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-accent-color);

		&:hover,
		&:focus {
			background-color: var(--twrp-darker-accent-color);
		}
	}
}
