// Mixin class that all tabs should implement.

@mixin twrp-tab-clean-style {
	&__btns-wrapper {
		display: flex;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&__btn-item {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	&__btn {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 1.05rem;
		line-height: 1.5;
		text-decoration: none;
	}

	&__contents-wrapper {
		padding: 1px 0;
		margin: 0;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, auto));
		grid-gap: 16px;
		padding: 0;
		margin: 0;
	}

	// Prevent flash of content, by displaying only the first tab.
	&__content:not([role]) ~ &__content {
		display: none;
	}

	// polyfill
	[hidden="hidden"] {
		display: none;
	}
}
