// Use 2 classes to increase specify.
.twrp-tab .twrp-tab-bs {
	@include twrp-tab;

	&__btns-wrapper {
		flex-wrap: wrap;
	}

	&__btn-item {
		margin: 0 4px 4px 0;
	}

	&__btn {
		padding: 2px 6px;
		color: var(--twrp-accent-color);
		background-color: var(--twrp-secondary-background-color);
		border: 1px solid var(--twrp-accent-color);
		border-radius: 3px;
		transition: var(--twrp-default-component-transition);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px var(--twrp-outline-accent-color);
		}
	}

	&__btn[aria-selected="false"],
	&__btn-item:not([role]):not(:first-child) .twrp-tab-bs__btn {
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-accent-color);

		&:hover,
		&:focus {
			background-color: var(--twrp-secondary-accent-color);
		}
	}
}

.twrp-tab.twrp-tab-bs--inverse-colors .twrp-tab-bs {
	/* stylelint-disable-next-line no-descending-specificity */
	&__btn {
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-accent-color);

		/* stylelint-disable-next-line no-descending-specificity */
		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px var(--twrp-outline-accent-color);
		}
	}

	&__btn[aria-selected="false"],
	&__btn-item:not([role]):not(:first-child) .twrp-tab-bs__btn {
		color: var(--twrp-accent-color);
		background-color: var(--twrp-secondary-background-color);

		&:hover,
		&:focus {
			color: var(--twrp-accent-best-text-color);
			background-color: var(--twrp-accent-color);
		}
	}
}
