.twrp-styles-form {
	&__row {
		display: flex;
		margin-bottom: 1rem;
		background-color: white;
		border: 1px solid #c1c1c1;
		border-bottom: 1px solid #c1c1c1;
		border-radius: 4px;
	}

	&__select-column {
		display: flex;
		flex-basis: 0;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border-right: 1px solid #c1c1c1;
	}

	&__article-block-column {
		padding: 1rem;
	}

	&__article-block-title {
		margin: 0 0 1rem;
	}

	&__article-block-description {
		font-size: 0.9rem;
	}

	&__article-block-description-tag {
		font-size: 1rem;
		color: #235490;
	}

	&__article-block-settings {
		margin-top: 1.2rem;
	}

	&__article-block-settings-title {
		margin: 0 0 0.6rem;
		font-size: 1.1rem;
		color: black;
	}
}
