.twrp-queries-table {
	.twrp-queries-table__title-head,
	.twrp-queries-table__edit-head,
	.twrp-queries-table__edit-col,
	.twrp-queries-table__title-col {
		padding: 10px 20px;
	}

	.twrp-queries-table__edit-col,
	.twrp-queries-table__edit-head {
		width: 1%;
		text-align: center;
		white-space: nowrap;
	}

	.twrp-queries-table__edit-col,
	.twrp-queries-table__title-col,
	.twrp-queries-table__no-queries-col {
		font-size: 1rem;
		vertical-align: middle;
	}

	.twrp-queries-table__edit-col {
		font-size: 0.9rem;
	}

	.twrp-queries-table__title-col,
	.twrp-queries-table__no-queries-col {
		padding-left: 20px;
		color: black;
	}

	.twrp-queries-table__edit-head,
	.twrp-queries-table__title-head, {
		font-size: 1.1rem;
	}

	.twrp-queries-table__title-col {
		font-size: 1.04rem;
	}

	&__edit-icon {
		vertical-align: text-bottom;
	}

	&__delete-link {
		color: #a00;

		&:hover {
			color: #dc3232;
		}
	}
}
