.twrp-ss {
	@include twrp-box;

	position: relative;
	margin-top: var(--twrp-block-margin-top);
	margin-bottom: var(--twrp-block-margin-bottom);
	overflow: hidden;

	&__title {
		@include twrp-box;

		position: relative;
		display: -webkit-box;
		max-height: calc(calc(var(--twrp-title-font-size) * var(--twrp-title-line-clamp)) * var(--twrp-title-line-height));
		margin-top: 0.3rem;
		margin-bottom: 0.2rem;
		overflow: hidden;
		font-size: var(--twrp-title-font-size);
		line-height: var(--twrp-title-line-height);
		color: var(--twrp-text-color);
		text-overflow: ellipsis;
		transition: var(--twrp-default-component-transition);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--twrp-title-line-clamp);
	}

	&__meta-wrapper {
		@include twrp-box;

		margin-bottom: 0.3rem;
		line-height: 1.5;
	}

	&__meta {
		@include twrp-box;

		display: inline-block;
		margin-right: 0.4rem;
		font-size: 0.92rem;
		font-variant-numeric: lining-nums;
	}

	&__thumbnail-container {
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

	/* stylelint-disable-next-line block-no-empty */
	&__thumbnail-wrapper {}

	/* stylelint-disable-next-line block-no-empty */
	&__thumbnail {}

	// Hover, Focus state
	&__link-expanded {
		@include twrp-box;
		@include twrp-anchor;

		color: var(--twrp-text-color);
		background-color: transparent;

		&:hover,
		&:focus {
			.twrp-ss__title {
				color: var(--twrp-accent-color);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
