.twrp-ss {
	@include twrp-box;

	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__title {
		@include twrp-box;

		position: relative;
		display: -webkit-box;
		max-height: calc(calc(var(--twrp-title-font-size) * var(--twrp-title-line-clamp)) * var(--twrp-title-line-height));
		margin-bottom: 0.35rem;
		overflow: hidden;
		font-size: var(--twrp-title-font-size);
		line-height: var(--twrp-title-line-height);
		color: var(--twrp-text-color);
		text-overflow: ellipsis;
		transition: var(--twrp-default-component-transition);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--twrp-title-line-clamp);
	}

	&__meta-wrapper {
		@include twrp-box;

		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		line-height: 1.5;
	}

	&__meta {
		@include twrp-box;

		display: inline-block;
		margin-right: 0.5rem;
		font-size: 0.92rem;
		font-variant-numeric: lining-nums;
	}

	&__rating {
		.twrp-rating-count {
			font-size: 1.1em;
			font-variant: all-petite-caps;
			line-height: 0.6;
		}
	}

	&__thumbnail-container {
		margin-top: auto;
		margin-bottom: 0.35rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	/* stylelint-disable-next-line block-no-empty */
	&__thumbnail-wrapper {}

	/* stylelint-disable-next-line block-no-empty */
	&__thumbnail {}

	// Hover, Focus state
	&__link-expanded {
		@include twrp-box;
		@include twrp-anchor;

		color: var(--twrp-text-color);
		background-color: transparent;

		&:hover,
		&:focus {
			.twrp-ss__title {
				color: var(--twrp-accent-color);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
