@mixin twrp-block-mixin {
	position: relative;
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	&__meta {
		font-size: var(--twrp-meta-font-size);
		line-height: var(--twrp-meta-line-height);
		color: var(--twrp-text-color);
		transition: var(--twrp-default-component-transition);
		font-variant-numeric: lining-nums;
	}

	&__title {
		display: -webkit-box;
		max-height: calc(calc(var(--twrp-title-font-size) * var(--twrp-title-line-clamp)) * var(--twrp-title-line-height));
		overflow: hidden;
		font-size: var(--twrp-title-font-size);
		line-height: var(--twrp-title-line-height);
		color: var(--twrp-text-color);
		text-overflow: ellipsis;
		transition: var(--twrp-default-component-transition);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--twrp-title-line-clamp);
	}
}
