.twrp-order-setting {
	&__order-group {
		display: flex;
		flex-wrap: wrap;

		&:not(.twrp-order-setting__order-group:first-child) {
			margin-top: 0;
		}
	}

	&__js-orderby {
		margin-right: 0.4rem;
	}
}
