@import 'common-blocks/twrp-articles/twrp-articles';
@import '../src-common/style';

.twrp-link-expand {
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
	}
}

// Simple Style

[class^="twrp-ss"] {
	transition: all 250ms ease;
}

.twrp-ss {
	position: relative;
}

.twrp-ss__date {
	margin-left: 6px;
}

.twrp-ss__author {
	&::before {
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: -1px;
	}
}
