// Variables:
:root {
	--twrp-block-margin-top: 0.4rem;
	--twrp-block-margin-bottom: 1rem;
	--twrp-title-font-size: 1.15rem;
	--twrp-title-line-height: 1.3;
	--twrp-title-line-clamp: 3;
	--twrp-default-component-transition: color 250ms ease, background-color 250ms ease, font-size 250ms ease, margin 250ms ease, padding 250ms ease, width 250ms ease, height 250ms ease;
}

body:not(#twrpS) {
	@import '../src-common/style';
	@import 'main-mixins/twrp-box';
	@import 'main-mixins/twrp-anchor';

	// Import the tab styles.
	@import 'tabs/mixin-twrp-tab-clean-style.scss';
	@import 'tabs/twrp-tab-ts.scss';
	@import 'tabs/twrp-tab-bs.scss';

	// Article Blocks Styles
	@import 'article-blocks/twrp-ss';

	// Import other helping classes.
	@import 'main-framework/twrp-block-padding';
	@import 'main-framework/twrp-link-expand';
	@import 'main-framework/twrp-thumbnail';
}
