.twrp-next-page {
	@extend .twrp-reset-box;

	&__btn {
		@extend .twrp-reset-box;
		@extend .twrp-reset-anchor;
		@extend .twrp-reset-inherited-and-more;

		padding: 0.2rem 0.6rem;
		color: var(--twrp-accent-best-text-color);
		background-color: var(--twrp-accent-color);
		border-radius: var(--twrp-border-radius);

		&:hover,
		&:focus {
			background-color: var(--twrp-darker-accent-color);
		}
	}
}

.twrp-next-page ~ .twrp-block,
.twrp-next-page ~ .twrp-next-page {
	display: none !important;
}
