.twrp-collapsible {
	background-color: white;
	border: 1px solid #c1c1c1;
	border-radius: 4px;

	&__title {
		padding: 0.8rem 0.8rem 0.6rem;
		margin: 0;
	}

	&__content {
		padding: 0.6rem;
	}

	&__indicator {
		display: inline-block;
		margin: 0 4px 0 3px;
		border: 7px solid transparent;
		border-right: 0;
		border-left-color: #1d83d4;
		transition: transform 250ms linear;
	}
}

/**
 * Using default jQuery ui classes.
 */
.ui-accordion-header-active .twrp-collapsible__indicator {
	transform: rotate(90deg);
}
